{% extends "layout.html" %}
{% set pk = model.pk_attr %}
{% block header %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>{{ model.label }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for(__name__ ~ ':index') }}">{{ _("Admin") }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for(__name__ ~ ':list', identity=model.identity) }}">{{ model.label }}</a>
            </li>
            <li class="breadcrumb-item active">{{ _("Detail") }}</li>
        </ol>
    </div>
{% endblock %}
{% block modal %}
    {{ super() }}
    {% include "modals/loading.html" %}
    {% include "modals/error.html" %}
    {% include "modals/delete.html" %}
    {% include "modals/actions.html" %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div id="alertContainer"></div>
                    <div class="card-header">
                        <h3 class="card-title">
                            {% block detail_card_title %}
                            {% if obj["label"] %}
                                <strong>{{ obj["label"] }}</strong>
                                {% if obj["code"] %}<span class="text-muted ms-2" style="font-size:0.8rem;font-weight:400;">{{ obj["code"] }}</span>{% endif %}
                            {% elif obj["name"] %}
                                <strong>{{ obj["name"] }}</strong>
                                {% if obj["code"] %}<span class="text-muted ms-2" style="font-size:0.8rem;font-weight:400;">{{ obj["code"] }}</span>{% endif %}
                            {% elif obj["code"] %}
                                <strong>{{ obj["code"] }}</strong>
                            {% else %}
                                <strong>#{{ obj[pk] }}</strong>
                            {% endif %}
                            {% endblock %}
                        </h3>
                        <div class="card-actions">
                            {% with pk=obj[pk] %}
                                {% include "row-actions.html" %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="card-body">
                        {% block details_table %}
                        <div class="datagrid">
                            {% for field in model.get_fields_list(request, 'DETAIL' | ra) %}
                            <div class="datagrid-item">
                                <div class="datagrid-title">{{ field.label }}</div>
                                <div class="datagrid-content">
                                    {% with data=obj[field.name] %}
                                        {% if data == None %}
                                            <span class="text-muted">—</span>
                                        {% elif (data | is_iter) and (data | length) == 0 %}
                                            <span class="text-muted">—</span>
                                        {% else %}
                                            {% include field.display_template %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block head_css %}
    {{ super() }}
    {% for link in model._additional_css_links(request, "DETAIL" | ra) %}
        <link rel="stylesheet" href="{{ link }}">
    {% endfor %}
{% endblock %}
{% block script %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ url_for(__name__ ~ ':statics', path='js/alerts.js').include_query_params(v=1) }}"></script>
    <script type="text/javascript"
            src="{{ url_for(__name__ ~ ':statics', path='js/actions.js').include_query_params(v=1) }}"></script>
    <script type="text/javascript"
            src="{{ url_for(__name__ ~ ':statics', path='js/utils.js').include_query_params(v=1) }}"></script>
    {% for link in model._additional_js_links(request, "DETAIL" | ra) %}
        <script type="text/javascript" src="{{ link }}"></script>
    {% endfor %}
    <script>
        var actionManager = new ActionManager(
            "",
            "{{ url_for(__name__ ~ ':row-action', identity=model.identity)  | safe }}",
            function (query, element) {
                query.append("pk", "{{ obj[pk] }}");
            },
            function (actionName, element, msg) {
                localStorage.successAlert = msg;
                if (actionName === 'delete')
                    window.location.replace("{{ url_for(__name__ ~ ':list', identity=model.identity)  | safe }}")
                else
                    window.location.reload()
            },
            function (actionName, element, error) {
                dangerAlert(error);
            }
        );
        actionManager.initNoConfirmationActions();
        actionManager.initActionModal();
    </script>
{% endblock %}
